node-red/flows/ingestion.json
[
  {
    "id": "ims-tab-v5",
    "type": "tab",
    "label": "IMS Ingestion Pipeline",
    "disabled": false,
    "info": "SNMP walkers → Parser → TimescaleDB"
  },
  {
    "id": "pg_config",
    "type": "postgreSQLConfig",
    "name": "IMS Database",
    "host": "ims-timescaledb",
    "hostFieldType": "str",
    "port": "5432",
    "portFieldType": "num",
    "database": "ims",
    "databaseFieldType": "str",
    "ssl": false,
    "sslFieldType": "bool",
    "max": 10,
    "idle": 10000,
    "connectionTimeout": 10000,
    "user": "ims_admin",
    "userFieldType": "str",
    "password": "",
    "passwordFieldType": "env",
    "passwordEnv": "PGPASSWORD"
  },
  {
    "id": "inject_ubuntu",
    "type": "inject",
    "z": "ims-tab-v5",
    "name": "Poll Ubuntu (10s)",
    "props": [
      {
        "p": "machine_id",
        "v": "ERP-MASTER-UBUNTU",
        "vt": "str"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "ERP-MASTER-UBUNTU",
    "x": 140,
    "y": 120,
    "wires": [
      [
        "resolve_device"
      ]
    ]
  },
  {
    "id": "inject_windows",
    "type": "inject",
    "z": "ims-tab-v5",
    "name": "Poll Windows (10s)",
    "props": [
      {
        "p": "machine_id",
        "v": "ERP-MASTER-WINDOWS",
        "vt": "str"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": 5,
    "topic": "ERP-MASTER-WINDOWS",
    "x": 140,
    "y": 200,
    "wires": [
      [
        "resolve_device"
      ]
    ]
  },
  {
    "id": "fork_5_ways",
    "type": "function",
    "z": "ims-tab-v5",
    "name": "Fork 5 Walker Threads",
    "func": "const mid = msg.machine_id || msg.topic;\nconst base = { host: msg.host, community: msg.community, snmp_port: msg.snmp_port };\nconst ts = Date.now();\nreturn [\n    { ...base, machine_id: mid, topic: mid, _walker: \"cpu\", payload: \"\", parts: { id: mid + \"_\" + ts, index: 0, count: 5 } },\n    { ...base, machine_id: mid, topic: mid, _walker: \"storage\", payload: \"\", parts: { id: mid + \"_\" + ts, index: 1, count: 5 } },\n    { ...base, machine_id: mid, topic: mid, _walker: \"network\", payload: \"\", parts: { id: mid + \"_\" + ts, index: 2, count: 5 } },\n    { ...base, machine_id: mid, topic: mid, _walker: \"temp\", payload: \"\", parts: { id: mid + \"_\" + ts, index: 3, count: 5 } },\n    { ...base, machine_id: mid, topic: mid, _walker: \"ldi\", payload: \"\", parts: { id: mid + \"_\" + ts, index: 4, count: 5 } }\n];",
    "outputs": 5,
    "x": 360,
    "y": 160,
    "wires": [
      [
        "walk_cpu"
      ],
      [
        "walk_storage"
      ],
      [
        "walk_net_get"
      ],
      [
        "walk_temp"
      ],
      [
        "walk_ldi"
      ]
    ]
  },
  {
    "id": "walk_cpu",
    "type": "function",
    "z": "ims-tab-v5",
    "timeout": "10",
    "name": "Walk CPU",
    "x": 580,
    "y": 60,
    "wires": [
      [
        "join_sync"
      ]
    ],
    "func": "const snmp = global.get(\"snmp\");\nif (!snmp) { msg.payload = []; return msg; }\nconst session = snmp.createSession(msg.host || \"ims-snmpsim\", msg.community || \"Netk@\", {port: msg.snmp_port || 161, version: snmp.Version2c, retries:1, timeout:3000});\nsession.on(\"error\", function(err) { node.error(\"SNMP session error: \" + err.message); });\nconst nodeRef = node; const msgRef = msg;\nconst prodMode = (typeof env !== \"undefined\" && env.get && env.get(\"NODE_ENV\") === \"production\");\nconst results = [];\n\nif (prodMode) {\n    session.subtree(\"1.3.6.1.2.1.25.3.3.1.2\", 20, function(vbs) {\n        vbs.forEach(function(vb) {\n            if (vb.type !== 129 && vb.type !== 128 && vb.type !== 130) {\n                var oid = Array.isArray(vb.oid) ? vb.oid.join(\".\") : String(vb.oid);\n                results.push({oid:oid, value:vb.value, type:vb.type});\n            }\n        });\n    }, function(err) {\n        session.close();\n        msgRef.payload = results;\n        nodeRef.send(msgRef);\n    });\n} else {\n    var oids = [\n        \"1.3.6.1.2.1.25.3.3.1.2.1\",\n        \"1.3.6.1.2.1.25.3.3.1.2.2\",\n        \"1.3.6.1.2.1.25.3.3.1.2.3\",\n        \"1.3.6.1.2.1.25.3.3.1.2.4\"\n    ];\n    session.get(oids, function(error, varbinds) {\n        session.close();\n        if (error) { msgRef.payload = []; nodeRef.send(msgRef); return; }\n        varbinds.forEach(function(vb) { if (vb.type !== 129 && vb.type !== 128 && vb.type !== 130) results.push({oid:vb.oid,value:vb.value,type:vb.type}); });\n        msgRef.payload = results;\n        nodeRef.send(msgRef);\n    });\n}\nreturn null;"
  },
  {
    "id": "walk_storage",
    "type": "function",
    "z": "ims-tab-v5",
    "timeout": "10",
    "name": "Walk Storage",
    "x": 580,
    "y": 120,
    "wires": [
      [
        "join_sync"
      ]
    ],
    "func": "const snmp = global.get('snmp');\nif (!snmp) { msg.payload = []; return msg; }\nconst session = snmp.createSession(msg.host || 'ims-snmpsim', msg.community || 'Netk@', { port: msg.snmp_port || 161, version: snmp.Version2c, retries: 1, timeout: 3000 });\nsession.on('error', function(err) { node.error('SNMP session error: ' + err.message); });\nconst nodeRef = node; const msgRef = msg;\nconst prodMode = (typeof env !== 'undefined' && env.get && env.get('NODE_ENV') === 'production');\nconst results = [];\n\nif (prodMode) {\n    session.subtree('1.3.6.1.2.1.25.2.3.1', 20, function(vbs) {\n        vbs.forEach(function(vb) {\n            if (vb.type !== 129 && vb.type !== 128 && vb.type !== 130) {\n                var oid = Array.isArray(vb.oid) ? vb.oid.join('.') : String(vb.oid);\n                results.push({oid:oid, value:vb.value, type:vb.type});\n            }\n        });\n    }, function(err) {\n        session.close();\n        msgRef.payload = results;\n        nodeRef.send(msgRef);\n    });\n} else {\n    var oids = [\n    '1.3.6.1.2.1.25.2.3.1.2.1', '1.3.6.1.2.1.25.2.3.1.2.2',\n    '1.3.6.1.2.1.25.2.3.1.3.1', '1.3.6.1.2.1.25.2.3.1.3.2',\n    '1.3.6.1.2.1.25.2.3.1.4.1', '1.3.6.1.2.1.25.2.3.1.4.2',\n    '1.3.6.1.2.1.25.2.3.1.5.1', '1.3.6.1.2.1.25.2.3.1.5.2',\n    '1.3.6.1.2.1.25.2.3.1.6.1', '1.3.6.1.2.1.25.2.3.1.6.2'\n    ];\n    session.get(oids, function(error, varbinds) {\n        session.close();\n        if (!error) varbinds.forEach(function(vb) { if (vb.type !== 129 && vb.type !== 128 && vb.type !== 130) results.push({oid:vb.oid, value:vb.value, type:vb.type}); });\n        msgRef.payload = results;\n        nodeRef.send(msgRef);\n    });\n}\nreturn null;"
  },
  {
    "id": "walk_net_get",
    "type": "function",
    "z": "ims-tab-v5",
    "name": "Walk Network (Dual-Engine)",
    "func": "const snmp = global.get('snmp');\nif (!snmp) { msg.payload = []; return msg; }\nconst session = snmp.createSession(msg.host || 'ims-snmpsim', msg.community || 'Netk@', {port: msg.snmp_port || 161, version: snmp.Version2c,retries:1,timeout:3000});\nsession.on('error', function(err) { node.error('SNMP session error: ' + err.message); });;\nconst nodeRef = node; const msgRef = msg;\nconst prodMode = (typeof env !== 'undefined' && env.get && env.get('NODE_ENV') === 'production');\nconst results = [];\n\nif (prodMode) {\n    var roots = ['1.3.6.1.2.1.2.2.1', '1.3.6.1.2.1.31.1.1.1'];\n    var done = 0;\n    function onFeed(vbs) {\n        vbs.forEach(function(vb) {\n            if (vb.type !== 129 && vb.type !== 128 && vb.type !== 130) {\n                var oid = Array.isArray(vb.oid) ? vb.oid.join('.') : String(vb.oid);\n                results.push({oid:oid,value:vb.value,type:vb.type});\n            }\n        });\n    }\n    roots.forEach(function(root) {\n        session.subtree(root, 20, onFeed, function(err) {\n            done++;\n            if (done === roots.length) { session.close(); msgRef.payload = results; nodeRef.send(msgRef); }\n        });\n    });\n} else {\n    var oids = [\n    '1.3.6.1.2.1.1.3.0',\n    '1.3.6.1.2.1.2.2.1.2.1',\n    '1.3.6.1.2.1.2.2.1.2.2',\n    '1.3.6.1.2.1.2.2.1.5.1',\n    '1.3.6.1.2.1.2.2.1.5.2',\n    '1.3.6.1.2.1.31.1.1.1.6.1',\n    '1.3.6.1.2.1.31.1.1.1.6.2',\n    '1.3.6.1.2.1.31.1.1.1.10.1',\n    '1.3.6.1.2.1.31.1.1.1.10.2',\n    '1.3.6.1.2.1.2.2.1.10.1',\n    '1.3.6.1.2.1.2.2.1.10.2',\n    '1.3.6.1.2.1.2.2.1.16.1',\n    '1.3.6.1.2.1.2.2.1.16.2',\n    '1.3.6.1.2.1.2.2.1.14.1',\n    '1.3.6.1.2.1.2.2.1.14.2',\n    '1.3.6.1.2.1.2.2.1.13.1',\n    '1.3.6.1.2.1.2.2.1.13.2',\n    '1.3.6.1.2.1.2.2.1.8.1',\n    '1.3.6.1.2.1.2.2.1.8.2'\n    ];\n    session.get(oids, function(error, varbinds) {\n        session.close();\n        if (!error) varbinds.forEach(function(vb) { if (vb.type !== 129 && vb.type !== 128 && vb.type !== 130) results.push({oid:vb.oid,value:vb.value,type:vb.type}); });\n        msgRef.payload = results; nodeRef.send(msgRef);\n    });\n}\nreturn null;",
    "outputs": 1,
    "x": 580,
    "y": 210,
    "wires": [
      [
        "join_sync"
      ]
    ],
    "timeout": "10"
  },
  {
    "id": "walk_temp",
    "type": "function",
    "z": "ims-tab-v5",
    "timeout": "10",
    "name": "Walk Temperature",
    "x": 580,
    "y": 300,
    "wires": [
      [
        "join_sync"
      ]
    ],
    "func": "const snmp = global.get('snmp');\nif (!snmp) { msg.payload = []; return msg; }\nconst oids = [\n    '1.3.6.1.4.1.2021.13.16.2.1.7.0',\n    '1.3.6.1.4.1.2021.13.16.2.1.7.1'\n];\nconst session = snmp.createSession(msg.host || 'ims-snmpsim', msg.community || 'Netk@', {port: msg.snmp_port || 161, version: snmp.Version2c,retries:1,timeout:3000});\nsession.on('error', function(err) { node.error('SNMP session error: ' + err.message); });;\nconst nodeRef = node; const msgRef = msg;\nsession.get(oids, function(error, varbinds) {\n    session.close();\n    if (error) { msgRef.payload = []; nodeRef.send(msgRef); return; }\n    const results = [];\n    varbinds.forEach(function(vb) { if (vb.type !== 129 && vb.type !== 128 && vb.type !== 130) results.push({oid:vb.oid,value:vb.value,type:vb.type}); });\n    msgRef.payload = results;\n    nodeRef.send(msgRef);\n});\nreturn null;"
  },
  {
    "id": "catch_walker",
    "type": "catch",
    "z": "ims-tab-v5",
    "name": "Catch Walker Error",
    "scope": [
      "walk_cpu",
      "walk_storage",
      "walk_net_get",
      "walk_temp",
      "walk_ldi"
    ],
    "uncaught": false,
    "x": 360,
    "y": 360,
    "wires": [
      [
        "bypass_error"
      ]
    ]
  },
  {
    "id": "bypass_error",
    "type": "function",
    "z": "ims-tab-v5",
    "name": "Bypass Empty",
    "func": "// Log error but do NOT send to join_sync — walker already sent empty payload on error.\n// Sending here would double-count and cause barrier drift.\nnode.warn('Walker error caught: ' + (msg.error ? msg.error.message : 'unknown'));\nreturn null;",
    "outputs": 1,
    "x": 560,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "walk_ldi",
    "type": "function",
    "z": "ims-tab-v5",
    "timeout": "10",
    "name": "Walk LDI (All 10 OIDs)",
    "x": 580,
    "y": 340,
    "wires": [
      [
        "join_sync"
      ]
    ],
    "func": "const snmp = global.get('snmp');\nif (!snmp) { msg.payload = []; return msg; }\nconst oids = [\n    '1.3.6.1.4.1.9999.1.1.0',\n    '1.3.6.1.4.1.9999.1.2.0',\n    '1.3.6.1.4.1.9999.1.3.0',\n    '1.3.6.1.4.1.9999.1.4.2',\n    '1.3.6.1.4.1.9999.1.4.5',\n    '1.3.6.1.4.1.9999.1.5.1',\n    '1.3.6.1.4.1.9999.1.6.1',\n    '1.3.6.1.4.1.9999.1.7.1',\n    '1.3.6.1.4.1.9999.2.1.0',\n    '1.3.6.1.4.1.9999.2.2.0'\n];\nconst session = snmp.createSession(msg.host || 'ims-snmpsim', msg.community || 'Netk@', {port: msg.snmp_port || 161, version: snmp.Version2c,retries:1,timeout:3000});\nsession.on('error', function(err) { node.error('SNMP session error: ' + err.message); });;\nconst nodeRef = node; const msgRef = msg;\nsession.get(oids, function(error, varbinds) {\n    session.close();\n    if (error) { msgRef.payload = []; nodeRef.send(msgRef); return; }\n    const results = [];\n    varbinds.forEach(function(vb) { if (vb.type !== 129 && vb.type !== 128 && vb.type !== 130) results.push({oid:vb.oid,value:vb.value,type:vb.type}); });\n    msgRef.payload = results;\n    nodeRef.send(msgRef);\n});\nreturn null;"
  },
  {
    "id": "join_sync",
    "type": "join",
    "z": "ims-tab-v5",
    "name": "Barrier Sync (5)",
    "mode": "custom",
    "build": "array",
    "property": "parts",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "15",
    "count": "",
    "reduceRight": false,
    "x": 800,
    "y": 180,
    "wires": [
      [
        "sre_parser"
      ]
    ],
    "n": 5,
    "reduce": false,
    "joinCount": 5
  },
  {
    "id": "sre_parser",
    "type": "function",
    "z": "ims-tab-v5",
    "name": "Bulletproof AIOps Parser v7",
    "func": "try {\nif (!msg.payload || !Array.isArray(msg.payload)) return null;\nconst flatData = msg.payload.flat();\nmsg.payload = null;\n\nlet cpuTotal = 0, coreCount = 0;\nlet ramTotalMB = 0, ramUsedMB = 0, diskTotalGB = 0, diskUsedGB = 0;\nlet netRxErrors = 0, netRxDrops = 0, netIfStatus = 1, maxTemp = 0;\nlet ldiThru = 0, ldiTemp = 0, ldiHumid = 0, ldiPE2 = 0, ldiPE5 = 0, ldiJE = 0, ldiPower = 0, ldiVibr = 0;\nlet wifiRssi = 0, wifiSnr = 0;\nconst disks = {}, ifaces = {};\nlet diskDesc = {};\n\nflatData.forEach(function(item) {\n    if (!item || !item.oid) return;\n    const oid = String(item.oid);\n    const val = item.value;\n\n    if (oid.startsWith('1.3.6.1.2.1.25.3.3.1.2.')) {\n        const v = Number(val); if (Number.isFinite(v)) { cpuTotal += v; coreCount++; } return;\n    }\n    if (oid.startsWith('1.3.6.1.4.1.2021.13.16.2.1.7.')) {\n        const t = Number(val); if (Number.isFinite(t) && t > maxTemp) maxTemp = t; return;\n    }\n\n    const diskMatch = oid.match(/1\\.3\\.6\\.1\\.2\\.1\\.25\\.2\\.3\\.1\\.(\\d+)\\.(\\d+)$/);\n    if (diskMatch) {\n        const mt = diskMatch[1], idx = diskMatch[2];\n        if (!disks[idx]) disks[idx] = { type: '', desc: '', size: 0, used: 0, au: 0 };\n        if (mt === '2') disks[idx].type = String(val);\n        if (mt === '3') disks[idx].desc = String(val);\n        if (mt === '4') disks[idx].au = Number(val) || 0;\n        if (mt === '5') disks[idx].size = Number(val) || 0;\n        if (mt === '6') disks[idx].used = Number(val) || 0;\n        return;\n    }\n\n    const ifMatch = oid.match(/1\\.3\\.6\\.1\\.2\\.1\\.(2\\.2\\.1|31\\.1\\.1\\.1)\\.\\d+\\.(\\d+)$/);\n    if (ifMatch) {\n        const table = ifMatch[1], idx = ifMatch[2];\n        if (!ifaces[idx]) ifaces[idx] = { name: 'port_' + idx, rx64: 0, tx64: 0, rx32: 0, tx32: 0, err: 0, drop: 0, status: 1 };\n        if (table === '2.2.1') {\n            if (oid.endsWith('.2.' + idx)) ifaces[idx].name = String(val);\n            if (oid.endsWith('.8.' + idx)) ifaces[idx].status = Number(val);\n            if (oid.endsWith('.10.' + idx)) { ifaces[idx].rx32 = Number(val); }\n            if (oid.endsWith('.16.' + idx)) ifaces[idx].tx32 = Number(val);\n            if (oid.endsWith('.14.' + idx)) { ifaces[idx].err += Number(val); netRxErrors += Number(val); }\n            if (oid.endsWith('.13.' + idx)) { ifaces[idx].drop += Number(val); netRxDrops += Number(val); }\n        } else if (table === '31.1.1.1') {\n            if (oid.endsWith('.6.' + idx)) ifaces[idx].rx64 = Number(val);\n            if (oid.endsWith('.10.' + idx)) ifaces[idx].tx64 = Number(val);\n        }\n        return;\n    }\n\n    if (oid === '1.3.6.1.4.1.9999.1.1.0') { ldiThru = (Number(val) || 0); return; }\n    if (oid === '1.3.6.1.4.1.9999.1.2.0') { ldiTemp = Number(((Number(val) || 0) / 100).toFixed(2)); return; }\n    if (oid === '1.3.6.1.4.1.9999.1.3.0') { ldiHumid = Number(((Number(val) || 0) / 100).toFixed(2)); return; }\n    if (oid === '1.3.6.1.4.1.9999.1.4.2') { ldiPE2 = Number(((Number(val) || 0) / 100).toFixed(2)); return; }\n    if (oid === '1.3.6.1.4.1.9999.1.4.5') { ldiPE5 = Number(((Number(val) || 0) / 100).toFixed(2)); return; }\n    if (oid === '1.3.6.1.4.1.9999.1.5.1') { ldiJE = Number(((Number(val) || 0) / 100).toFixed(2)); return; }\n    if (oid === '1.3.6.1.4.1.9999.1.6.1') { ldiPower = (Number(val) || 0); return; }\n    if (oid === '1.3.6.1.4.1.9999.1.7.1') { ldiVibr = Number(((Number(val) || 0) / 100).toFixed(2)); return; }\n    if (oid === '1.3.6.1.4.1.9999.2.1.0') { wifiRssi = Number(val) || 0; return; }\n    if (oid === '1.3.6.1.4.1.9999.2.2.0') { wifiSnr = Number(val) || 0; return; }\n});\n\nfor (const idx in disks) {\n    const d = disks[idx];\n    if (!d.au || !d.size) continue;\n    const total = d.size * d.au, used = d.used * d.au;\n    if (/25\\.2\\.1\\.2/.test(d.type)) { ramTotalMB += total / 1048576; ramUsedMB += used / 1048576; }\n    if (/25\\.2\\.1\\.4/.test(d.type)) { diskTotalGB += total / 1073741824; diskUsedGB += used / 1073741824; }\n    if (d.desc) diskDesc[idx] = d.desc;\n}\n\nconst mid = (msg.topic || 'UNKNOWN').replace(/'/g, \"''\");\nif (!mid) return null;\nconst now = Date.now();\nconst prevIfaces = JSON.parse(JSON.stringify(flow.get('ifaces_prev_' + mid) || {}));\nconst prevTs = flow.get('ts_prev_' + mid) || (now - 10000);\nconst elapsedSec = (now - prevTs) / 1000;\nconst finalIfaces = {};\nlet rxAll = 0, txAll = 0;\nlet cumRxAll = 0, cumTxAll = 0;\n\nfor (const idx in ifaces) {\n    const curr = ifaces[idx];\n    const prev = prevIfaces[idx] || { rx64: 0, tx64: 0, rx32: 0, tx32: 0 };\n    let rxMbps = 0, txMbps = 0;\n    if (curr.status === 1 && elapsedSec > 0) {\n        const rx = curr.rx64 || curr.rx32;\n        const tx = curr.tx64 || curr.tx32;\n        const pRx = prev.rx64 || prev.rx32;\n        const pTx = prev.tx64 || prev.tx32;\n        let rDiff = rx - pRx;\n        let tDiff = tx - pTx;\n        if (rDiff < 0) rDiff += (Math.abs(rDiff) > 2147483648) ? 18446744073709552000 : 4294967296;\n        if (tDiff < 0) tDiff += (Math.abs(tDiff) > 2147483648) ? 18446744073709552000 : 4294967296;\n        rxMbps = Number(((rDiff * 8) / (elapsedSec * 1000000)).toFixed(2));\n        txMbps = Number(((tDiff * 8) / (elapsedSec * 1000000)).toFixed(2));\n        if (rxMbps > 40000 || rxMbps < 0) rxMbps = 0;\n        if (txMbps > 40000 || txMbps < 0) txMbps = 0;\n    }\n    finalIfaces[curr.name] = { rx_mbps: rxMbps, tx_mbps: txMbps, errors: curr.err, drops: curr.drop, status: curr.status === 1 ? 'UP' : 'DOWN' };\n    rxAll += rxMbps; txAll += txMbps;\n    // Cumulative bytes for CAGG delta calculation\n    cumRxAll += (curr.rx64 || curr.rx32) || 0;\n    cumTxAll += (curr.tx64 || curr.tx32) || 0;\n}\n\nflow.set('ifaces_prev_' + mid, JSON.parse(JSON.stringify(ifaces)));\nflow.set('ts_prev_' + mid, now);\n\n// FIX: netIfStatus = minimum status across all interfaces (2 = any DOWN)\nlet worstStatus = 1;\nfor (const idx in ifaces) {\n    if (ifaces[idx].status === 2) { worstStatus = 2; break; }\n}\nnetIfStatus = worstStatus;\n\nconst ts = new Date().toISOString();\nmsg.query = 'INSERT INTO public.machine_telemetry (\"time\",machine_id,cpu_cores,cpu_load_percent,ram_total_mb,ram_used_mb,ram_free_mb,disk_total_gb,disk_used_gb,disk_free_gb,net_rx_bytes,net_tx_bytes,net_rx_errors,net_rx_drops,net_if_status,temp_c,rx_mbps,tx_mbps,interface_metrics,ldi_throughput,ldi_humidity,ldi_pe,ldi_je,ldi_power,ldi_vibration,ldi_uptime,ldi_temp,disk_description,wifi_rssi,wifi_snr) VALUES ($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11,$12,$13,$14,$15,$16,$17,$18,$19::jsonb,$20,$21,$22,$23,$24,$25,$26,$27,$28,$29,$30)';\nmsg.params = [\n    ts, mid, coreCount,\n    coreCount > 0 ? Number((cpuTotal / coreCount).toFixed(2)) : 0,\n    Number(ramTotalMB.toFixed(2)), Number(ramUsedMB.toFixed(2)), Number((ramTotalMB - ramUsedMB).toFixed(2)),\n    Number(diskTotalGB.toFixed(2)), Number(diskUsedGB.toFixed(2)), Number((diskTotalGB - diskUsedGB).toFixed(2)),\n    cumRxAll, cumTxAll, netRxErrors, netRxDrops, netIfStatus, maxTemp,\n    Number(rxAll.toFixed(2)), Number(txAll.toFixed(2)),\n    JSON.stringify(finalIfaces),\n    ldiThru, ldiHumid, Math.round(Math.max(Math.abs(ldiPE2), Math.abs(ldiPE5))), ldiJE, ldiPower, ldiVibr, 0,\n    ldiTemp, JSON.stringify(diskDesc), wifiRssi, wifiSnr\n];\n\nmsg.payload = { machine_id: mid, ts: ts, rxMbps: rxAll, errors: netRxErrors, temp: maxTemp, ldiThru: ldiThru, wifiRssi: wifiRssi, wifiSnr: wifiSnr };\nreturn msg;\n} catch (err) { node.error('SRE Parser Crash: ' + err.message, msg); return null; }",
    "noerr": 0,
    "outputs": 1,
    "x": 1020,
    "y": 180,
    "wires": [
      [
        "db_insert",
        "debug_ok"
      ]
    ],
    "timeout": "15"
  },
  {
    "id": "db_insert",
    "type": "postgresql",
    "z": "ims-tab-v5",
    "name": "TimescaleDB",
    "query": "",
    "postgreSQLConfig": "pg_config",
    "split": false,
    "outputs": 0,
    "x": 1240,
    "y": 220,
    "wires": []
  },
  {
    "id": "debug_ok",
    "type": "debug",
    "z": "ims-tab-v5",
    "name": "Telemetry OK",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 1240,
    "y": 140,
    "wires": []
  },
  {
    "id": "global_catch",
    "type": "catch",
    "z": "ims-tab-v5",
    "name": "Global Catch",
    "scope": null,
    "uncaught": false,
    "x": 140,
    "y": 420,
    "wires": [
      [
        "debug_err"
      ]
    ]
  },
  {
    "id": "debug_err",
    "type": "debug",
    "z": "ims-tab-v5",
    "name": "Pipeline Error",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "error.message",
    "targetType": "msg",
    "x": 380,
    "y": 420,
    "wires": []
  },
  {
    "id": "inject_registry",
    "type": "inject",
    "z": "ims-tab-v5",
    "name": "Refresh Device Registry (5min)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": 300,
    "crontab": "",
    "once": true,
    "onceDelay": 5,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "wires": [
      [
        "device_registry"
      ]
    ]
  },
  {
    "id": "device_registry",
    "type": "function",
    "z": "ims-tab-v5",
    "name": "Load Device Registry",
    "func": "const pool = global.get('pgPool');\nif (!pool) { node.error('pgPool not available in global context'); return null; }\nconst sql = 'SELECT machine_id, hostname, community, snmp_port FROM public.machines WHERE enabled = true';\npool.query(sql, [], function(err, result) {\n    if (err) {\n        if (err.message && err.message.indexOf('does not exist') !== -1) {\n            node.warn('Device Registry: table not ready yet — retrying in 10s');\n            setTimeout(function() { node.receive({}); }, 10000);\n        } else {\n            node.warn('Device Registry: ' + err.message + ' — using fallback defaults');\n        }\n        return;\n    }\n    const registry = {};\n    if (result && result.rows) {\n        result.rows.forEach(function(row) {\n            registry[row.machine_id] = {\n                hostname: row.hostname || row.machine_id,\n                community: row.community || 'public',\n                snmp_port: row.snmp_port || 161\n            };\n        });\n    }\n    const g = global.get('deviceRegistry') || {};\n    Object.assign(g, registry);\n    global.set('deviceRegistry', g);\n    node.log('Device registry loaded: ' + Object.keys(registry).length + ' devices');\n});\nreturn null;",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "wires": []
  },
  {
    "id": "resolve_device",
    "type": "function",
    "z": "ims-tab-v5",
    "name": "Resolve Device",
    "func": "const registry = global.get('deviceRegistry') || {};\nconst mid = msg.machine_id || msg.topic || '';\nconst device = registry[mid];\nif (!device) {\n    // Fallback to default for simulator\n    msg.host = msg.host || 'ims-snmpsim';\n    msg.community = msg.community || 'Netk@';\n    msg.snmp_port = msg.snmp_port || 161;\n} else {\n    msg.host = device.hostname;\n    msg.community = device.community;\n    msg.snmp_port = device.snmp_port;\n}\nmsg.machine_id = mid;\nmsg.topic = mid;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "wires": [
      [
        "fork_5_ways"
      ]
    ]
  },
  {
    "id": "catch_db_insert",
    "type": "catch",
    "z": "ims-tab-v5",
    "name": "Catch DB Insert",
    "scope": [
      "db_insert"
    ],
    "wires": [
      [
        "retry_store"
      ]
    ]
  },
  {
    "id": "retry_store",
    "type": "function",
    "z": "ims-tab-v5",
    "name": "Write to Retry Queue",
    "func": "const fs = global.get('fs');\nconst QUEUE_PATH = '/data/retry_queue.json';\nfs.readFile(QUEUE_PATH, 'utf8', function(readErr, data) {\n    let queue = [];\n    try { if (!readErr && data) queue = JSON.parse(data); } catch(e) { queue = []; }\n    const entry = {\n        timestamp: new Date().toISOString(), retries: 0,\n        table: 'public.machine_telemetry',\n        values: msg.params || [], columns: msg.columns || [],\n        error: msg.error ? msg.error.message : 'unknown'\n    };\n    if (queue.length >= 500) queue = queue.slice(-499);\n    queue.push(entry);\n    fs.writeFile(QUEUE_PATH, JSON.stringify(queue), 'utf8', function(writeErr) {\n        if (writeErr) node.error('Retry queue write failed: ' + writeErr.message);\n        else node.warn('Retry: queued failed INSERT (#' + queue.length + ')');\n    });\n});\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "wires": [
      [
        "debug_retry"
      ]
    ]
  },
  {
    "id": "debug_retry",
    "type": "debug",
    "z": "ims-tab-v5",
    "name": "Retry Queued",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "wires": []
  },
  {
    "id": "retry_timer",
    "type": "inject",
    "z": "ims-tab-v5",
    "name": "Retry Drain (30s)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": 10,
    "topic": "",
    "payload": "drain",
    "payloadType": "str",
    "wires": [
      [
        "retry_rebuild"
      ]
    ]
  },
  {
    "id": "retry_rebuild",
    "type": "function",
    "z": "ims-tab-v5",
    "name": "Rebuild & Retry INSERT",
    "func": "const fs = global.get('fs');\nconst QUEUE_PATH = '/data/retry_queue.json';\nconst MAX_RETRIES = 5;\nif (msg.payload !== 'drain') return null;\nfs.readFile(QUEUE_PATH, 'utf8', function(readErr, data) {\n    if (readErr || !data) return;\n    let queue = [];\n    try { queue = JSON.parse(data); } catch(e) { return; }\n    if (queue.length === 0) return;\n    const entry = queue.shift();\n    entry.retries++;\n    if (entry.retries > MAX_RETRIES) {\n        node.warn('Retry: dropped after ' + MAX_RETRIES + ' attempts');\n        fs.writeFile(QUEUE_PATH, JSON.stringify(queue), 'utf8', function(){});\n        return;\n    }\n    fs.writeFile(QUEUE_PATH, JSON.stringify(queue), 'utf8', function(){});\n    msg.params = entry.values;\n    msg.payload = entry.values;\n    node.warn('Retry: attempt #' + entry.retries + ' (remaining: ' + queue.length + ')');\n    node.send(msg);\n});\nreturn null;",
    "outputs": 0,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "wires": [
      [
        "db_insert"
      ]
    ]
  },
  {
    "id": "http_inject_in",
    "type": "http in",
    "z": "ims-tab-v5",
    "name": "POST /inject",
    "url": "/inject",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 340,
    "wires": [
      [
        "http_inject_handler"
      ]
    ]
  },
  {
    "id": "http_inject_handler",
    "type": "function",
    "z": "ims-tab-v5",
    "name": "Parse K6 Payload",
    "func": "if (env.get(\"NODE_ENV\") === \"production\") {\n    var msg403 = { statusCode: 403, payload: JSON.stringify({ error: \"Forbidden\" }), headers: { \"Content-Type\": \"application/json\" } };\n    return [null, msg403];\n}\n// Parse K6 Payload Safely\nlet body = {};\nif (msg.payload) {\n    if (typeof msg.payload === \"string\") {\n        try { body = JSON.parse(msg.payload); } catch(e) {}\n    } else if (typeof msg.payload === \"object\") {\n        body = msg.payload;\n    }\n}\nconst machineId = body.machine_id || (\"K6-SERVER-\" + String(Math.floor(Math.random() * 1000)).padStart(3, \"0\"));\nmsg.machine_id = machineId;\nmsg.topic = machineId;\nvar respondMsg = { statusCode: 200, payload: JSON.stringify({ success: true, message: \"Injected: \" + machineId }), headers: { \"Content-Type\": \"application/json\" } };\nmsg.payload = \"\";\nreturn [msg, respondMsg];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 340,
    "wires": [
      [
        "resolve_device"
      ],
      [
        "http_inject_respond"
      ]
    ]
  },
  {
    "id": "http_inject_respond",
    "type": "http response",
    "z": "ims-tab-v5",
    "name": "200 OK",
    "statusCode": "200",
    "headers": {},
    "x": 580,
    "y": 300,
    "wires": []
  }
]