flows-ubuntu.json
[
    {
        "id": "ims-tab-v4",
        "type": "tab",
        "label": "IMS Enterprise Engine",
        "disabled": false,
        "info": "Phase 12: Flawless Walker Pipeline - Jitter Protection + pg Lib Direct Insert",
        "env": []
    },
    {
        "id": "pg_config",
        "type": "postgreSQLConfig",
        "name": "IMS Database",
        "host": "ims-pgbouncer",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "ims",
        "databaseFieldType": "str",
        "ssl": false,
        "sslFieldType": "bool",
        "max": 10,
        "idle": 10000,
        "connectionTimeout": 10000,
        "user": "ims_admin",
        "userFieldType": "str",
        "password": "",
        "passwordFieldType": "env",
        "passwordEnv": "PGPASSWORD"
    },
    {
        "id": "inject_ubuntu",
        "type": "inject",
        "z": "ims-tab-v4",
        "name": "Poll Ubuntu (10s)",
        "props": [
            {
                "p": "machine_id",
                "v": "ERP-MASTER-UBUNTU",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "ERP-MASTER-UBUNTU",
        "x": 140,
        "y": 170,
        "wires": [
            [
                "parsing_core"
            ]
        ]
    },
    {
        "id": "inject_windows",
        "type": "inject",
        "z": "ims-tab-v4",
        "name": "Poll Windows (10s)",
        "props": [
            {
                "p": "machine_id",
                "v": "ERP-MASTER-WINDOWS",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 5,
        "topic": "ERP-MASTER-WINDOWS",
        "x": 140,
        "y": 270,
        "wires": [
            [
                "parsing_core"
            ]
        ]
    },
    {
        "id": "parsing_core",
        "type": "function",
        "z": "ims-tab-v4",
        "name": "Flawless Walker Engine",
        "func": "if (!msg.payload || !Array.isArray(msg.payload)) return null;\nconst flatData = msg.payload.flat();\nmsg.payload = null;\n\nlet cpuTotal=0, coreCount=0;\nlet ramTotalMB=0, ramUsedMB=0;\nlet diskTotalGB=0, diskUsedGB=0;\nlet netRxBytes=0, netTxBytes=0;\nlet netRxErrors=0, netRxDrops=0;\nlet netIfStatus=1;\nlet maxTemp=0;\nconst disks={}, ifaces={};\nconst len=flatData.length;\n\nfor(let i=0; i<len; i++){\n    const item=flatData[i];\n    if(!item||!item.oid) continue;\n    const oid=String(item.oid);\n    const val=item.value;\n\n    // CPU - Strict prefix match\n    if(oid.startsWith('1.3.6.1.2.1.25.3.3.1.2.')){\n        const v=Number(val); if(Number.isFinite(v)){cpuTotal+=v; coreCount++;}\n    }\n    // Storage - Strict prefix match\n    else if(oid.startsWith('1.3.6.1.2.1.25.2.3.1.')){\n        const parts=oid.split('.'); const idx=parts.pop(); const mt=parts.pop();\n        if(!disks[idx]) disks[idx]={type:'',descr:'',au:0,size:0,used:0};\n        if(mt==='2') disks[idx].type=String(val);\n        else if(mt==='3') disks[idx].descr=String(val).toUpperCase();\n        else if(mt==='4') disks[idx].au=Number(val)||0;\n        else if(mt==='5') disks[idx].size=Number(val)||0;\n        else if(mt==='6') disks[idx].used=Number(val)||0;\n    }\n    // Network 64-bit (High Capacity IF-MIB)\n    else if(oid.startsWith('1.3.6.1.2.1.31.1.1.1.6.')){\n        const idx=oid.split('.').pop();\n        if(!ifaces[idx]) ifaces[idx]={name:'port_'+idx,rx64:0,tx64:0,rx32:0,tx32:0,err:0,drop:0,status:1};\n        ifaces[idx].rx64=Number(val)||0; netRxBytes+=ifaces[idx].rx64;\n    }\n    else if(oid.startsWith('1.3.6.1.2.1.31.1.1.1.10.')){\n        const idx=oid.split('.').pop();\n        if(!ifaces[idx]) ifaces[idx]={name:'port_'+idx,rx64:0,tx64:0,rx32:0,tx32:0,err:0,drop:0,status:1};\n        ifaces[idx].tx64=Number(val)||0; netTxBytes+=ifaces[idx].tx64;\n    }\n    // Network 32-bit Fallback (standard IF-MIB)\n    else if(oid.startsWith('1.3.6.1.2.1.2.2.1.10.')){\n        const idx=oid.split('.').pop();\n        if(!ifaces[idx]) ifaces[idx]={name:'port_'+idx,rx64:0,tx64:0,rx32:0,tx32:0,err:0,drop:0,status:1};\n        ifaces[idx].rx32=Number(val)||0; if(netRxBytes===0) netRxBytes+=ifaces[idx].rx32;\n    }\n    else if(oid.startsWith('1.3.6.1.2.1.2.2.1.16.')){\n        const idx=oid.split('.').pop();\n        if(!ifaces[idx]) ifaces[idx]={name:'port_'+idx,rx64:0,tx64:0,rx32:0,tx32:0,err:0,drop:0,status:1};\n        ifaces[idx].tx32=Number(val)||0; if(netTxBytes===0) netTxBytes+=ifaces[idx].tx32;\n    }\n    // Network Health - Errors\n    else if(oid.startsWith('1.3.6.1.2.1.2.2.1.14.')){\n        const idx=oid.split('.').pop();\n        if(!ifaces[idx]) ifaces[idx]={name:'port_'+idx,rx64:0,tx64:0,rx32:0,tx32:0,err:0,drop:0,status:1};\n        ifaces[idx].err+=Number(val)||0; netRxErrors+=Number(val)||0;\n    }\n    // Network Health - Drops\n    else if(oid.startsWith('1.3.6.1.2.1.2.2.1.13.')){\n        const idx=oid.split('.').pop();\n        if(!ifaces[idx]) ifaces[idx]={name:'port_'+idx,rx64:0,tx64:0,rx32:0,tx32:0,err:0,drop:0,status:1};\n        ifaces[idx].drop+=Number(val)||0; netRxDrops+=Number(val)||0;\n    }\n    // Network Health - Status\n    else if(oid.startsWith('1.3.6.1.2.1.2.2.1.8.')){\n        const idx=oid.split('.').pop();\n        if(!ifaces[idx]) ifaces[idx]={name:'port_'+idx,rx64:0,tx64:0,rx32:0,tx32:0,err:0,drop:0,status:1};\n        const st=Number(val); if(st===2){ifaces[idx].status=2; netIfStatus=2;}\n    }\n    // Temperature (LM-SENSORS-MIB)\n    else if(oid.startsWith('1.3.6.1.4.1.2021.13.16.2.1.7.')){\n        const t=Number(val); if(Number.isFinite(t)&&t>maxTemp) maxTemp=t;\n    }\n}\n\n// Memory Cleanup\nflatData.length = 0;\n\n// Storage/RAM Aggregation\nfor(const idx in disks){\n    const d=disks[idx]; if(!d.au||!d.size) continue;\n    const sb=d.size*d.au, ub=d.used*d.au, ds=d.descr;\n    if(d.type.includes('25.2.1.2')||ds.includes('MEMORY')){ ramTotalMB+=sb/1048576; ramUsedMB+=ub/1048576; }\n    else if(d.type.includes('25.2.1.4')||ds.indexOf('C:')!==-1||ds.indexOf('/')!==-1){ diskTotalGB+=sb/1073741824; diskUsedGB+=ub/1073741824; }\n}\n\nconst now = Date.now();\nconst mid = msg.machine_id || 'unknown';\nconst prevIfaces = flow.get('ifaces_prev_'+mid) || {};\nconst prevTs = flow.get('ts_prev_'+mid) || (now - 10000);\nconst elapsedSec = (now - prevTs) / 1000;\nconst finalIfaces = {};\n\nlet rxAll = 0, txAll = 0;\n\nfor(const idx in ifaces){\n    const iface = ifaces[idx];\n    let rxMbps = 0, txMbps = 0;\n\n    // Jitter Protection & Status Logic\n    if(iface.status === 2) {\n        rxMbps = 0; txMbps = 0;\n    } else if(elapsedSec >= 2 && prevIfaces[idx]) {\n        const rx = iface.rx64 || iface.rx32;\n        const tx = iface.tx64 || iface.tx32;\n        const prevRx = prevIfaces[idx].rx64 || prevIfaces[idx].rx32;\n        const prevTx = prevIfaces[idx].tx64 || prevIfaces[idx].tx32;\n\n        let rxDiff = rx - prevRx;\n        let txDiff = tx - prevTx;\n\n        if(rxDiff < 0) rxDiff += 18446744073709551616n;\n        if(txDiff < 0) txDiff += 18446744073709551616n;\n\n        rxMbps = Number(((rxDiff * 8) / (elapsedSec * 1000000)).toFixed(2));\n        txMbps = Number(((txDiff * 8) / (elapsedSec * 1000000)).toFixed(2));\n    } else if (prevIfaces[idx]) {\n        rxMbps = prevIfaces[idx].rx_mbps || 0;\n        txMbps = prevIfaces[idx].tx_mbps || 0;\n    }\n\n    finalIfaces[iface.name||'port_'+idx] = {\n        rx_mbps: rxMbps, tx_mbps: txMbps,\n        errors: iface.err, drops: iface.drop,\n        status: iface.status === 1 ? 'UP' : 'DOWN',\n        speed_mbps: iface.rx64 > 0 ? 10000 : 1200\n    };\n    rxAll += rxMbps;\n    txAll += txMbps;\n}\n\nflow.set('ifaces_prev_'+mid, ifaces);\nflow.set('ts_prev_'+mid, now);\n\nconst safeNum = (v) => Number.isFinite(v) && v >= 0 && v < 1e15 ? Number(v.toFixed(2)) : 0;\nconst safeStr = (v) => String(v).replace(/'/g, \"''\");\nconst ts = new Date().toISOString();\nconst midS = safeStr(mid);\nconst ifaceJson = safeStr(JSON.stringify(finalIfaces));\n\nmsg.query=`INSERT INTO public.machine_telemetry(\"time\",machine_id,cpu_cores,cpu_load_percent,ram_total_mb,ram_used_mb,ram_free_mb,disk_total_gb,disk_used_gb,disk_free_gb,net_rx_bytes,net_tx_bytes,net_rx_errors,net_rx_drops,net_if_status,temp_c,rx_mbps,tx_mbps,interface_metrics) VALUES('${ts}','${midS}',${coreCount},${coreCount>0?safeNum(cpuTotal/coreCount):0},${safeNum(ramTotalMB)},${safeNum(ramUsedMB)},${safeNum(ramTotalMB-ramUsedMB)},${safeNum(diskTotalGB)},${safeNum(diskUsedGB)},${safeNum(diskTotalGB-diskUsedGB)},${netRxBytes},${netTxBytes},${netRxErrors},${netRxDrops},${netIfStatus},${maxTemp},${safeNum(rxAll)},${safeNum(txAll)},'${ifaceJson}'::jsonb);`;\n\nmsg.payload = { machine_id: mid, ts: ts, rxMbps: rxAll, errors: netRxErrors, status: netIfStatus, temp: maxTemp };\nreturn msg;",
        "noerr": 0,
        "outputs": 1,
        "libs": [
            {
                "var": "pg",
                "module": "pg"
            }
        ],
        "x": 560,
        "y": 170,
        "wires": [
            [
                "db_insert",
                "debug_log"
            ]
        ]
    },
    {
        "id": "db_insert",
        "type": "postgresql",
        "z": "ims-tab-v4",
        "name": "TimescaleDB",
        "query": "",
        "postgreSQLConfig": "pg_config",
        "split": false,
        "outputs": 0,
        "x": 900,
        "y": 170,
        "wires": []
    },
    {
        "id": "debug_log",
        "type": "debug",
        "z": "ims-tab-v4",
        "name": "Telemetry Stream",
        "active": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 900,
        "y": 270,
        "wires": []
    },
    {
        "id": "global_catch",
        "type": "catch",
        "z": "ims-tab-v4",
        "name": "Catch",
        "scope": null,
        "uncaught": false,
        "x": 140,
        "y": 370,
        "wires": [
            [
                "debug_err"
            ]
        ]
    },
    {
        "id": "debug_err",
        "type": "debug",
        "z": "ims-tab-v4",
        "name": "Pipeline Error",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "error.message",
        "targetType": "msg",
        "x": 400,
        "y": 370,
        "wires": []
    },
    {
        "id": "snmp_catch",
        "type": "catch",
        "z": "ims-tab-v4",
        "name": "Engine Error Catch",
        "scope": [
            "parsing_core"
        ],
        "uncaught": false,
        "x": 400,
        "y": 430,
        "wires": [
            [
                "debug_err"
            ]
        ]
    }
]