nodered_data/flows.json
[
    {
        "id": "8bf5bf82223c02d8",
        "type": "tab",
        "label": "ERP-MASTER-UBUNTU",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "group_world_class",
        "type": "group",
        "z": "8bf5bf82223c02d8",
        "name": " SNMP Pipeline",
        "style": {
            "stroke": "#004D40",
            "fill": "#E0F2F1",
            "label": true,
            "label-position": "n",
            "color": "#004D40"
        },
        "nodes": [
            "inject_ubuntu",
            "inject_windows",
            "walk_cpu",
            "parse_cpu",
            "walk_storage",
            "parse_storage_sql",
            "insert_db",
            "debug_success",
            "catch_all",
            "debug_error"
        ],
        "x": 2,
        "y": 55,
        "w": 1494,
        "h": 242
    },
    {
        "id": "1e85a2c10bfc324b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c512f7e9e484ea58",
        "type": "postgreSQLConfig",
        "name": "IMS Database",
        "host": "ims-timescaledb",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "ims-timescaledb",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "password",
        "passwordFieldType": "str"
    },
    {
        "id": "inject_ubuntu",
        "type": "inject",
        "z": "8bf5bf82223c02d8",
        "g": "group_world_class",
        "name": "Poll Ubuntu (10s)",
        "props": [
            {
                "p": "machine_id",
                "v": "ERP-MASTER-UBUNTU",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 1,
        "topic": "",
        "x": 138,
        "y": 96,
        "wires": [
            [
                "walk_cpu"
            ]
        ]
    },
    {
        "id": "inject_windows",
        "type": "inject",
        "z": "8bf5bf82223c02d8",
        "g": "group_world_class",
        "name": "Poll Windows (10s)",
        "props": [
            {
                "p": "machine_id",
                "v": "ERP-MASTER-WINDOWS",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 6,
        "topic": "",
        "x": 148,
        "y": 176,
        "wires": [
            [
                "walk_cpu"
            ]
        ]
    },
    {
        "id": "walk_cpu",
        "type": "snmp walker",
        "z": "8bf5bf82223c02d8",
        "g": "group_world_class",
        "host": "ims-snmpsim",
        "version": "2c",
        "timeout": "5",
        "community": "Netk@",
        "auth": "noAuthNoPriv",
        "oids": "1.3.6.1.2.1.25.3.3.1.2",
        "name": "1. Walk All CPU Cores",
        "x": 440,
        "y": 96,
        "wires": [
            [
                "parse_cpu"
            ]
        ]
    },
    {
        "id": "parse_cpu",
        "type": "function",
        "z": "8bf5bf82223c02d8",
        "g": "group_world_class",
        "name": "2. Aggregate Cores",
        "func": "if (!msg.payload || !Array.isArray(msg.payload)) return null;\n\nlet totalLoad = 0;\nlet coreCount = 0;\nconst len = msg.payload.length;\n\nfor (let i = 0; i < len; i++) {\n    const item = msg.payload[i];\n    if (item.oid && item.oid.indexOf('25.3.3.1.2') !== -1) {\n        const val = Number(item.value);\n        if (Number.isFinite(val)) {\n            totalLoad += val;\n            coreCount++;\n        }\n    }\n}\n\nmsg.telemetry = {\n    machine_id: msg.machine_id,\n    cpu_cores: coreCount,\n    cpu_avg_load: coreCount > 0 ? Number((totalLoad / coreCount).toFixed(2)) : 0,\n    time_stamp: new Date().toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 650,
        "y": 96,
        "wires": [
            [
                "walk_storage"
            ]
        ]
    },
    {
        "id": "walk_storage",
        "type": "snmp walker",
        "z": "8bf5bf82223c02d8",
        "g": "group_world_class",
        "host": "ims-snmpsim",
        "version": "2c",
        "timeout": "5",
        "community": "Netk@",
        "auth": "noAuthNoPriv",
        "oids": "1.3.6.1.2.1.25.2.3.1",
        "name": "3. Walk Storage/RAM",
        "x": 860,
        "y": 96,
        "wires": [
            [
                "parse_storage_sql"
            ]
        ]
    },
    {
        "id": "parse_storage_sql",
        "type": "function",
        "z": "8bf5bf82223c02d8",
        "g": "group_world_class",
        "name": "4. Parse & Format SQL",
        "func": "if (!msg.payload || !Array.isArray(msg.payload)) return null;\n\nconst disks = {};\nconst len = msg.payload.length;\n\nfor (let i = 0; i < len; i++) {\n    const item = msg.payload[i];\n    if (!item || !item.oid) continue;\n\n    const parts = item.oid.split('.');\n    const idx = parts.pop();\n    const metricType = parts.pop();\n\n    if (!disks[idx]) disks[idx] = { type: \"\", descr: \"\", au: 0, size: 0, used: 0 };\n\n    switch(metricType) {\n        case \"2\": disks[idx].type = String(item.value); break;\n        case \"3\": disks[idx].descr = Buffer.isBuffer(item.value) ? item.value.toString('ascii') : String(item.value); break;\n        case \"4\": disks[idx].au = Number(item.value) || 0; break;\n        case \"5\": disks[idx].size = Number(item.value) || 0; break;\n        case \"6\": disks[idx].used = Number(item.value) || 0; break;\n    }\n}\n\nlet ramTotalMB = 0, ramUsedMB = 0;\nlet diskTotalGB = 0, diskUsedGB = 0;\n\nfor (const idx in disks) {\n    const d = disks[idx];\n    if (!d.au || !d.size) continue;\n\n    const sizeBytes = d.size * d.au;\n    const usedBytes = d.used * d.au;\n    const typeStr = d.type || \"\";\n    const descStr = (d.descr || \"\").toUpperCase();\n\n    if (typeStr.includes(\"25.2.1.2\") || descStr.includes(\"MEMORY\")) {\n        ramTotalMB += sizeBytes / 1048576;\n        ramUsedMB += usedBytes / 1048576;\n    } else if (typeStr.includes(\"25.2.1.4\") || descStr.includes(\"C:\") || descStr.includes(\"/\")) {\n        diskTotalGB += sizeBytes / 1073741824;\n        diskUsedGB += usedBytes / 1073741824;\n    }\n}\n\nconst t = msg.telemetry || {};\nt.ram_total_mb = Number(ramTotalMB.toFixed(2)) || 0;\nt.ram_used_mb = Number(ramUsedMB.toFixed(2)) || 0;\nt.ram_free_mb = Number((ramTotalMB - ramUsedMB).toFixed(2)) || 0;\nt.disk_total_gb = Number(diskTotalGB.toFixed(2)) || 0;\nt.disk_used_gb = Number(diskUsedGB.toFixed(2)) || 0;\nt.disk_free_gb = Number((diskTotalGB - diskUsedGB).toFixed(2)) || 0;\n\nmsg.payload = t;\n\nmsg.query = 'INSERT INTO public.machine_telemetry (\"time\", machine_id, cpu_cores, cpu_load_percent, ram_total_mb, ram_used_mb, ram_free_mb, disk_total_gb, disk_used_gb, disk_free_gb) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10);';\n\nmsg.params = [\n    t.time_stamp,\n    t.machine_id,\n    t.cpu_cores,\n    t.cpu_avg_load,\n    t.ram_total_mb,\n    t.ram_used_mb,\n    t.ram_free_mb,\n    t.disk_total_gb,\n    t.disk_used_gb,\n    t.disk_free_gb\n];\n\nreturn msg;",
        "outputs": 1,
        "x": 1090,
        "y": 96,
        "wires": [
            [
                "insert_db",
                "debug_success"
            ]
        ]
    },
    {
        "id": "insert_db",
        "type": "postgresql",
        "z": "8bf5bf82223c02d8",
        "g": "group_world_class",
        "name": "TimescaleDB",
        "query": "",
        "postgreSQLConfig": "c512f7e9e484ea58",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 0,
        "x": 1382,
        "y": 160,
        "wires": []
    },
    {
        "id": "debug_success",
        "type": "debug",
        "z": "8bf5bf82223c02d8",
        "g": "group_world_class",
        "name": "Payload Sent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 96,
        "wires": []
    },
    {
        "id": "catch_all",
        "type": "catch",
        "z": "8bf5bf82223c02d8",
        "g": "group_world_class",
        "name": "Catch Global Errors",
        "scope": null,
        "uncaught": false,
        "x": 134,
        "y": 256,
        "wires": [
            [
                "debug_error"
            ]
        ]
    },
    {
        "id": "debug_error",
        "type": "debug",
        "z": "8bf5bf82223c02d8",
        "g": "group_world_class",
        "name": "System Errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "error.message",
        "targetType": "msg",
        "x": 336,
        "y": 256,
        "wires": []
    }
]