nodered_data/flows/alerting.json
[
    {
        "id": "ims-alert-tab",
        "type": "tab",
        "label": "IMS Alerting Pipeline",
        "disabled": false,
        "info": "Alertmanager webhook → LINE Messaging API / MS Teams"
    },
    {
        "id": "alert_http_in",
        "type": "http in",
        "z": "ims-alert-tab",
        "name": "POST /alert-webhook",
        "url": "/alert-webhook",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "alert_auth_check"
            ]
        ]
    },
    {
        "id": "alert_respond",
        "type": "http response",
        "z": "ims-alert-tab",
        "name": "200 OK",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "alert_format",
        "type": "function",
        "z": "ims-alert-tab",
        "name": "Format Alert Text",
        "func": "const payload = msg.payload;\nif (!payload || !payload.alerts) return null;\n\nconst alerts = payload.alerts;\nlet msgText = `🔔 *IMS SYSTEM ALERT [${(payload.status || 'unknown').toUpperCase()}]* 🔔\\n\\n`;\n\nfor (let i = 0; i < alerts.length; i++) {\n    const a = alerts[i];\n    const labels = a.labels || {};\n    const annotations = a.annotations || {};\n    \n    let icon = '⚠️';\n    if (labels.severity === 'critical') icon = '🔥';\n    if (payload.status === 'resolved') icon = '✅';\n\n    const alertname = labels.alertname || 'Unknown Alert';\n    const host = labels.machine_id || labels.instance || 'System';\n    const summary = annotations.summary || 'N/A';\n    const desc = annotations.description ? `\\n💡 *Desc:* ${annotations.description}` : '';\n    const startTime = a.startsAt ? new Date(a.startsAt).toLocaleString('th-TH') : 'Unknown';\n\n    msgText += `${icon} *${alertname}*\\n🖥️ *Host:* ${host}\\n📝 *Detail:* ${summary}${desc}\\n🕒 *Time:* ${startTime}\\n-------------------\\n`;\n}\n\nif (msgText.length > 4000) {\n    msgText = msgText.substring(0, 4000) + '\\n\\n... [TRUNCATED: Too many alerts!]';\n}\nmsg.payload = msgText;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 240,
        "wires": [
            [
                "alert_debug",
                "alert_line_format",
                "alert_teams_format"
            ]
        ]
    },
    {
        "id": "alert_debug",
        "type": "debug",
        "z": "ims-alert-tab",
        "name": "Alert Log",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "alert_line_format",
        "type": "function",
        "z": "ims-alert-tab",
        "name": "Format LINE Messaging API",
        "func": "const token = env.get('LINE_CHANNEL_ACCESS_TOKEN') || '';\nconst userId = env.get('LINE_USER_ID') || '';\n\nif (!token || !userId) {\n    node.warn('LINE Messaging API not configured — set LINE_CHANNEL_ACCESS_TOKEN and LINE_USER_ID env vars');\n    return null;\n}\n\nmsg.headers = {\n    'Authorization': 'Bearer ' + token,\n    'Content-Type': 'application/json'\n};\nmsg.payload = JSON.stringify({\n    to: userId,\n    messages: [{ type: 'text', text: msg.payload }]\n});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 200,
        "wires": [
            [
                "alert_line_notify"
            ]
        ]
    },
    {
        "id": "alert_line_notify",
        "type": "http request",
        "z": "ims-alert-tab",
        "name": "LINE Messaging API",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.line.me/v2/bot/message/push",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 720,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "alert_teams_format",
        "type": "function",
        "z": "ims-alert-tab",
        "name": "Format Teams Webhook",
        "func": "const url = env.get(\"TEAMS_WEBHOOK_URL\") || \"\";\n\nif (!url) {\n    node.warn(\"MS Teams webhook not configured — set TEAMS_WEBHOOK_URL env var\");\n    return null;\n}\n\nconst card = {\n    \"type\": \"message\",\n    \"attachments\": [{\n        \"contentType\": \"application/vnd.microsoft.card.adaptive\",\n        \"contentUrl\": null,\n        \"content\": {\n            \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n            \"type\": \"AdaptiveCard\",\n            \"version\": \"1.4\",\n            \"body\": [{\n                \"type\": \"TextBlock\",\n                \"text\": \"IMS System Alert\",\n                \"weight\": \"bolder\",\n                \"size\": \"large\",\n                \"color\": \"attention\"\n            }, {\n                \"type\": \"TextBlock\",\n                \"text\": msg.payload,\n                \"wrap\": true,\n                \"spacing\": \"medium\"\n            }],\n            \"msteams\": {\n                \"entities\": []\n            }\n        }\n    }]\n};\nmsg.payload = JSON.stringify(card);\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.url = url;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 260,
        "wires": [
            [
                "alert_teams_webhook"
            ]
        ]
    },
    {
        "id": "alert_teams_webhook",
        "type": "http request",
        "z": "ims-alert-tab",
        "name": "MS Teams Webhook",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 720,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "alert_catch",
        "type": "catch",
        "z": "ims-alert-tab",
        "name": "Catch Alert Errors",
        "scope": [
            "alert_format",
            "alert_line_format",
            "alert_line_notify",
            "alert_teams_format",
            "alert_teams_webhook"
        ],
        "uncaught": false,
        "x": 640,
        "y": 360,
        "wires": [
            [
                "alert_retry_logic"
            ]
        ]
    },
    {
        "id": "alert_error_debug",
        "type": "debug",
        "z": "ims-alert-tab",
        "name": "Alert Delivery Failure",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "error.message",
        "statusType": "msg",
        "x": 880,
        "y": 360,
        "wires": []
    },
    {
        "id": "alert_auth_check",
        "type": "function",
        "z": "ims-alert-tab",
        "name": "Check API Key",
        "func": "const apiKey = env.get('INGEST_API_KEY');\nconst reqApiKey = msg.req.get('x-api-key') || msg.req.query.key;\n\nif (apiKey && reqApiKey !== apiKey) {\n    return [null, msg];\n}\nreturn [msg, null];",
        "outputs": 2,
        "x": 300,
        "y": 200,
        "wires": [
            [
                "alert_respond",
                "alert_format"
            ],
            [
                "alert_auth_error"
            ]
        ]
    },
    {
        "id": "alert_auth_error",
        "type": "http response",
        "z": "ims-alert-tab",
        "name": "401 Unauthorized",
        "statusCode": "401",
        "headers": {},
        "x": 310,
        "y": 260,
        "wires": []
    },
    {
        "id": "alert_retry_logic",
        "type": "function",
        "z": "ims-alert-tab",
        "name": "Retry Logic (Max 3)",
        "func": "msg.retryCount = (msg.retryCount || 0) + 1;\nif (msg.retryCount <= 3) {\n    node.warn('Alert delivery failed, retrying ' + msg.retryCount + '/3...');\n    return [msg, null];\n} else {\n    node.error('Alert delivery failed permanently after 3 retries.');\n    return [null, msg];\n}",
        "outputs": 2,
        "x": 800,
        "y": 420,
        "wires": [
            [
                "alert_retry_delay"
            ],
            [
                "alert_error_debug"
            ]
        ]
    },
    {
        "id": "alert_retry_delay",
        "type": "delay",
        "z": "ims-alert-tab",
        "name": "Wait 30s",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 980,
        "y": 420,
        "wires": [
            [
                "alert_line_notify",
                "alert_teams_webhook"
            ]
        ]
    }
]